aws_region      = "us-east-1"
aws_profile     = "aws-learner-lab"
aws_environment = "prod"
aws_project     = "NT548.P11"
aws_owner       = "Group01"
aws_key_name    = "learner-lab"

aws_vpc_config = {
  cidr_block                   = "10.0.0.0/16"
  enable_dns_support           = true
  enable_dns_hostnames         = true
  public_subnets_cidr          = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
  private_subnets_cidr         = ["10.0.10.0/24", "10.0.20.0/24", "10.0.30.0/24"]
  number_of_availability_zones = 3
  enable_nat_gateway           = false
}

bastion_instance_min_count            = 1
bastion_instance_max_count            = 3
bastion_instance_ebs_size             = 10


bastion_eni_ips                       = "192.168.130.30"
monitoring_frontend_instance_count    = 1
monitoring_frontend_instance_ebs_size = 20
monitoring_frontend_eni_ip            = "192.168.120.20"
monitoring_backend_instance_count     = 1
monitoring_backend_instance_ebs_size  = 20
monitoring_backend_eni_ip             = "192.168.120.21"
cluster_instance_count                = 3
cluster_instance_ebs_size             = 20
cluster_eni_ips                       = ["192.168.110.10", "192.168.110.11", "192.168.110.12"]
