aws_region      = "us-east-1"
aws_profile     = "aws-learner-lab"
aws_environment = "prod"
aws_project     = "NT548.P11"
aws_owner       = "Group01"
aws_keypair    = "learner-lab"

aws_vpc_config = {
  cidr_block                   = "10.0.0.0/16"
  enable_dns_support           = true
  enable_dns_hostnames         = true
  public_subnets_cidr          = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
  private_subnets_cidr         = ["10.0.10.0/24", "10.0.20.0/24", "10.0.30.0/24"]
  number_of_availability_zones = 3
  enable_nat_gateway           = false
}
